streamlit==1.39.0
typesense==0.21.0
scipy==1.11.4
python-dotenv==1.0.1
jsonschema==4.23.0
numpy==2.0.2
requests==2.32.3
langchain==0.3.7
langchain-chroma==0.1.4
langchain-community==0.3.7
langchain-core==0.3.18
langchain-openai==0.2.8
langchain-text-splitters==0.3.2
langchain-unstructured==0.1.5
